<div class="dernierRes">
    <h5>Dernier résultat</h5>
    <p><b>Grand Prix de {{dernierRes.CIRNOM}} du {{formatDate dernierRes.GPDATE 'DD/MM/YYYY'}}</b></p>
    <p>Mise à jour le : {{formatDate dernierRes.GPDATEMAJ 'DD/MM/YYYY'}} </p>
    <a href="/detailGrandPrix/{{{dernierRes.GPNUM}}}">Voir les résultats</a>
</div>
