{{> listeRepPiloPartial}}

<div class="CATALOQUE">

{{#each phoPilote}}
<div class="icone">
  <a href="../detailPilote/{{{this.PILNUM}}}">
      <img src="/image/pilote/{{{this.PHOADRESSE}}}"  class="imageVignette">
      <p>{{this.PILNOM}} {{this.PILPRENOM}}</p>
  </a>
</div>
{{/each}}


</div>
