{{> listeRepPiloPartial}}

<div class="CATALOQUE">

{{#each phoPilote}}
<div class="icone">
  <a href="../detailPilote/{{{this.pilnum}}}">
      <img src="/image/pilote/{{{this.phoadresse}}}" alt="/image/photos.png" class="imageVignette">
      <p>{{this.pilnom}} {{this.pilprenom}}</p>
  </a>
</div>
{{/each}}


</div>
