{{> listeRepPiloPartial}}

{{#each phoPilote}}
    <a href="../detailPilote/{{{this.pilnum}}}">
        <img src="/image/pilote/{{{this.phoadresse}}}">
        <p>{{this.pilnom}} {{this.pilprenom}}</p>
    </a>
{{/each}}
