    body {
    	font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
		background: url('/image/fond.jpg') fixed;
		font-size:0.8em;
    	margin: 0;
    	padding: 0;
    	text-align: center;
    	color: #000000;
    }
	h1 {
		text-align: center;
	}
    .monBody #container {
    	width: 900px;
    	margin: 0 auto;
    	text-align: left;
    	background:#ffffff;
    }
    .monBody #header {
		    height:300px;
    }
	.monBody #menu {
		height:22px;
		color:#ffffff;
		font-size:1.4em;
		background:#000000;
    }
  .monBody #contenu {
		 padding:40px;
    }
    .monBody #footer {
    padding: 0 10px;
		font-size:0.8em;
		text-align:center;
		height:150px;
		background:url(/image/footer.jpg) no-repeat;
    }
	.monBody #footer img {
		margin-top: 20px;
	}

	#menu a	{
		color:#ffffff;
		text-decoration:none;
	}
  #menu {
    text-align: center;
  }
  #LogoNode {
      max-height: 20%;
      max-width: 20%;
  }
  .tabpayscir  {
	  float: right;
 	  padding:10px;
 	  border:1px solid black;
 	  margin:10px;
 	  -moz-border-radius:15px;
 	  border-radius:15px;
 }

 .myboth  {
 	  clear:both;
 }
 a  {
 	text-decoration:none;
 	color:#0072ff;
 }
 .lienNotFound {align:center;
	 background-color: #1d81b1;
	 color: #FFFFFF;
	 text-transform: uppercase;
 }
 .photoNotFound {
   max-height: 40%;
   max-width: 40%;
}

.drapeau {
  width: 40px;
  height: 35px;
}

.dernierRes {
	border: 1px solid black;
	text-align: left;
	border-radius: 20px;
	padding: 20px;
	margin: auto;
	width: 400px;
	text-align: center;
}

.dernierRes h5 {
	margin-top:0px ;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size:16px;
	font-weight: lighter;
	text-decoration: underline;
}
.dernierRes a {
	text-align: center;
}
.imgPilote {
	width: 30%;
	height: auto;
}
.touteVoitures {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.infoVoiture {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
}
.infoVoiture > img{
	height: 100px;
	width: auto;
}

.rowEcurie {
	display: flex;
	flex-direction: row;
}
.rowEcurie img {
	max-width: 300px;
	max-height: 100px;
	height: auto;
	padding-right: 40px;
}

.infobulle span{
	display: flex;
	flex-direction: row;
	max-width: 40%;
  position: absolute;
	margin-top: 10px;
  background:white;
  padding:15px;
  border-radius:3px;
  border: 2px solid black;
  transform:scale(0);
  transition:all 0.4s ease-in-out;
}

.infobulle span img {
	max-height: 100px;
	max-width: 100px;
}

.infobulle span div {
	padding: 10px;
}

.infobulle span::after {
	content: "";
	position: absolute;
	top:-20px;
	left: 40px;
	transform: rotate(180deg);
	border-width: 10px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}


.infobulle:hover span, .piloteEcurie:focus span{
    transform:scale(1);
}

.center td, th {
	border: 1px solid black;
	padding: 5px;
}

.imageVignette {
  height: 150px;
  width: 150px;
}
.CATALOQUE{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.icone {
  flex: 1 0 21%; /* explanation below */
}
.grandPrixRes {
  display: flex;
  justify-content: center;
}

.grandPrixRes td, th {
border: 1px solid black;
padding: 5px;

}

.row {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.justify {
	text-align: justify;
}

.imgcircuit {
	max-height: 400px;
	max-width: 400px;
}
.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	display: grid;
	grid-template-columns: 20% 50%;
	grid-column-gap: 40px;
	grid-row-gap: 30px;
}

.valider {
	padding: 10px;
	position: inherit;
	text-transform: uppercase;
	background: linear-gradient(brown,red);
	color:white;
	border: 1px solid black;
}

input[type="text"], input[type="number"], input[type="date"], input[type="submit"], textarea {
	border-radius: 20px;
	border: 1px solid black;
	font-size: 20px;
	text-indent: 5px;
}

label {
	font-size: 20px;
	font-weight: bold;
}

.display-none {
	display: none;
}

.formulaire1{
  display: flex;
  flex-direction: column
}
