<h1>Ajouter un pilote</h1>
<form action="#" method="post" enctype="multipart/form-data">
    <label>Prénom</label>
    <input name="PILPRENOM" type="text" required>
    <label>Nom</label>
    <input name="PILNOM" type="text" required>
    <label>Date de naissance</label>
    <input name="PILDATENAIS" type="date" required>
    <label>Nationalité</label>
    <select name="PAYNUM">
        {{#each nationalite}}
            <option value="{{{this.paynum}}}">{{this.paynat}}</option>
        {{/each}}
    </select>
    <label>Ecurie</label>
    <select name="ECUNUM">
      <option value="NULL">Pas d'écurie</option>
        {{#each ecurie}}
            <option value="{{{this.ecunum}}}">{{this.ecunom}}</option>
        {{/each}}
    </select>
    <label>Points</label>
    <input name="PILPOINTS" type="number" required>
    <label>Poids</label>
    <input name="PILPOIDS" type="number" required>
    <label>Taille</label>
    <input name="PILTAILLE" type="number" required>
    <label >Image officielle</label>
    <input name="foo" type="file">
    <label>Description</label>
    <textarea name="PILTEXTE" id="" cols="30" rows="10"></textarea>
    <input class="valider" type="submit">
</form>
