{{#if session.admin}}



{{else}}
    <h2>Administation</h2>
    <form class="" action="#" method="post">
        <label id=login>Login : </label>
        <input name=login type="text">
        <label id=mpd>Mot de Passe :</label>
        <input name=mpd type="password">
        <input type=submit value='Connexion'>
    </form>
{{/if}}
