<h1>Supprimer un circuit</h1>

<h2>Êtes-vous sur de vouloir supprimer {{{circuit.CIRNOM}}}</h2>

<form action="#" method="post">
    <input name="id" class="display-none" type="text" value="{{{circuit.CIRNUM}}}">
    <input class="valider" type="submit" value="Supprimer">
</form>
