<h1>Supprimer un ecurie</h1>

<h2>Êtes-vous sur de vouloir supprimer {{{ecurie.ECUNOM}}}</h2>

<form action="#" method="post">
    <input name="id" class="display-none" type="text" value="{{{ecurie.ECUNUM}}}">
    <input class="valider" type="submit" value="Supprimer">
</form>
