<h1>Supprimer un pilote</h1>

<h2>Êtes-vous sur de vouloir supprimer {{{pilote.pilnom}}} {{{pilote.pilprenom}}}</h2>

<form action="#" method="post">
    <input name="id" class="display-none" type="text" value="{{{pilote.pilnum}}}">
    <input class="valider" type="submit" value="Supprimer">
</form>
