<!DOCTYPE html>
<html lang="fr">

<head>
	<title> {{title}}</title>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/x-icon" href="/image/favicon.png" />
	<link rel="stylesheet" href="/css/structure.css" />
	<link href="/css/lightbox.css" rel="stylesheet" />
</head>

<body class="monBody">
<div id="container">
	<div id="header">
	<img src="/image/staff_admin.jpg" alt="WROOM l'encyclopédie de la F1" />
	</div>
	{{#if session.admin}}
	<div id="menu">
		<a href="/piloteAdmin">PILOTES</a> |
		<a href="/circuitAdmin">CIRCUITS</a> |
		<a href="/ecurieAdmin">ECURIES</a> |
		<a href="">RESULTATS</a> |
		<a href="">SPONSORS</a> |
		<a href="">Retour au site</a>
	</div>
	{{/if}}
	<div id="contenu">
			{{{body}}}
	</div>
	<div id="footer">
		L'encyclopédie de la F1 depuis janvier 2020 (en NodeJS)
		<br />
		© IUT du Limousin DUT Informatique année 2
		<br />
		<br />
          Appllication réalisée par Clément Le Caloch & Valentin Jeanjon
          <br />
		<img src="/image/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
	</div>



</div>
</body>
<script src="/js/lightbox.js"></script>
</html>
